$base-color: #444;
$base-background: #fff;
$base-font-size: 20px;
$base-font-family: 'OpenSans';
$base-line-height: 1.5;
$base-transition: .15s all;

$path-fonts: '/fonts';

$color-primary: #1c315b;
$color-secondary: #1c315b;
$color-disabled: #ccc;
$color-muted: #ccc;

$container-width: 1100px;
$container-gap: 15px;

$space-unit: 20px;
$spacer-quantity: 4;
