h1 {
  font-size: 48px;
  margin: 23px 0 24px;
}

h2 {
  font-size: 52px;
  text-align: center;
  margin: 0 0 40px;
  line-height: 1.4;
}

h3 {
  margin: 0 0 10px;
}

h4 {
  margin: 0 0 10px;
}

h5 {
  font-size: 12px;
  margin: 0 0 10px;
}

p {
  margin: 0 0 15px;
}

a {
  text-decoration: none;
  transition: .1s;
}

small {
  font-size: .8em;
}

p {
  margin-bottom: 40px;
}
